<button data-id="<%= i['_id'] %>" onclick="openModal(true)"
  class="bg-gradient-to-r from-indigo-400 to-pink-400 hover:scale-105 drop-shadow-md  shadow-cla-blue px-4 py-1 rounded-lg">
  Edit post
</button>