<div class="flex flex-row justify-around">
    <div class="p-3 ">
        <a href="/posts/create">
            <button
                class="bg-green-500 hover:bg-green-600 px-4 py-2 rounded text-white focus:outline-none">
                Create new post
            </button>
        </a>
    </div>

    
</div>

</div>
