<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/header_for_wander') %>
    <%- include ('../components/post/posts') %>
    <div class="flex flex-row justify-center mb-16">
        <%- include ('../components/post/pagination') %>
    </div>
</body>

</html>