<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/header') %>
    <%- include ('../components/post/newPost') %>
    <%- include ('../components/post/posts_auth') %>
</body>

</html>